

<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="/facebook"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="/instagram"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="/linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> &nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div> 
    </div>

    <div class="f-info brand">
        <h3 class="content" onclick="love()" > <span class="b"> Developed By : </span> &nbsp; 
            <span class="name"> Praveen Rathod </span> &nbsp; 
            <span> <span class="brace"> ( </span>  
                <span class="love"> PK1611 <span class="heart"> &#10084; </span> </span>  
                <span class="brace"> ) </span> 
            </span> 
        </h3>
    </div>
</footer>

<script>
    function love(){
        let audio = new Audio("audio/Love.mp3");
        audio.play();
    };
    
</script>